<aside id="leftsidebar" class="sidebar">
  <div class="navbar-brand">
    <button
      class="btn-menu ls-toggle-btn"
      type="button"
      (click)="toggleSmallMenu()"
    >
      <i class="zmdi zmdi-menu"></i>
    </button>
    <a routerLink="/index">
      <img src="assets/images/radiant.png" width="230" alt="Wistron" />
    </a>
  </div>
  <!-- <div class="webSiteName">
        <span>Investment Management System</span>
    </div> -->
  <div class="menu">
    <ul class="list">
      <li>
        <div class="user-info">
          <div class="detail">
            <h4>
              <!-- {{userDetails == null ? "" : userDetails.firstName}}
                            <small>({{userDetails == null ? "" : userDetails.username.toUpperCase()}})</small> -->
            </h4>
          </div>
        </div>
      </li>

      <!-- <li>
        <a
          routerLink="/index"
          (click)="getColor(0)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span style="font-size: 20px;">Home</span>
        </a>
      </li> -->

      <!-- <li>
                <a routerLink="/duediligence" class="toggled waves-effect waves-block">
                    <i class="zmdi zmdi-view-dashboard"></i><span>盡職調查
                        <strong class="bubbleCount">{{InProfressCount}}</strong>
                    </span>
                </a>
            </li> -->

      <li
        [ngStyle]="{
          'background-color': selectedMenu === '即時顯示' ? '#1890ff' : 'white'
        }"
      >
        <a
          routerLink="/realtimetext"
          (click)="getColor(1)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span
            style="font-size: 20px;"
            [ngStyle]="{
              color: selectedMenu === '即時顯示' ? 'white' : 'black'
            }"
          >
            即時顯示
          </span>
        </a>
      </li>

      <li
        [ngStyle]="{
          'background-color': selectedMenu === '昨日平均' ? '#1890ff' : 'white'
        }"
      >
        <a
          routerLink="realtimetextyesterday"
          (click)="getColor(4)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span
            style="font-size: 20px;"
            [ngStyle]="{
              color: selectedMenu === '昨日平均' ? 'white' : 'black'
            }"
          >
            昨日平均
          </span>
        </a>
      </li>

      <li
        [ngStyle]="{
          'background-color': selectedMenu === '上週平均' ? '#1890ff' : 'white'
        }"
      >
        <a
          routerLink="realtimetextweek"
          (click)="getColor(5)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span
            style="font-size: 20px;"
            [ngStyle]="{
              color: selectedMenu === '上週平均' ? 'white' : 'black'
            }"
          >
            上週平均
          </span>
        </a>
      </li>

      <li
        [ngStyle]="{
          'background-color': selectedMenu === '上月平均' ? '#1890ff' : 'white'
        }"
      >
        <a
          routerLink="realtimetextmonth"
          (click)="getColor(6)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span
            style="font-size: 20px;"
            [ngStyle]="{
              color: selectedMenu === '上月平均' ? 'white' : 'black'
            }"
          >
            上月平均
          </span>
        </a>
      </li>

      <li
        [ngStyle]="{
          'background-color': selectedMenu === '月彙總表' ? '#1890ff' : 'white'
        }"
      >
        <a
          routerLink="summarytablemonth"
          (click)="getColor(2)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span
            style="font-size: 20px;"
            [ngStyle]="{
              color: selectedMenu === '月彙總表' ? 'white' : 'black'
            }"
          >
            月彙總表
          </span>
        </a>
      </li>

      <li
        [ngStyle]="{
          'background-color': selectedMenu === '日彙總表' ? '#1890ff' : 'white'
        }"
      >
        <a
          routerLink="summarytableday"
          (click)="getColor(7)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span
            style="font-size: 20px;"
            [ngStyle]="{
              color: selectedMenu === '日彙總表' ? 'white' : 'black'
            }"
          >
            日彙總表
          </span>
        </a>
      </li>

      <li
        [ngStyle]="{
          'background-color': selectedMenu === '時彙總表' ? '#1890ff' : 'white'
        }"
      >
        <a
          routerLink="summarytablehour"
          (click)="getColor(8)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span
            style="font-size: 20px;"
            [ngStyle]="{
              color: selectedMenu === '時彙總表' ? 'white' : 'black'
            }"
          >
            時彙總表
          </span>
        </a>
      </li>

      <li
        [ngStyle]="{
          'background-color': selectedMenu === '參數設定1' ? '#1890ff' : 'white'
        }"
      >
        <a
          routerLink="parametersetting"
          (click)="getColor(3)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span
            style="font-size: 20px;"
            [ngStyle]="{
              color: selectedMenu === '參數設定1' ? 'white' : 'black'
            }"
          >
            參數設定1
          </span>
        </a>
      </li>

      <li
        [ngStyle]="{
          'background-color': selectedMenu === '參數設定2' ? '#1890ff' : 'white'
        }"
      >
        <a
          routerLink="offsetsetting"
          (click)="getColor(9)"
          class="toggled waves-effect waves-block"
        >
          <i class="zmdi zmdi-view-dashboard"></i>
          <span
            style="font-size: 20px;"
            [ngStyle]="{
              color: selectedMenu === '參數設定2' ? 'white' : 'black'
            }"
          >
            參數設定2
          </span>
        </a>
      </li>

      <!-- <li>
        <a
          href="javascript:void(0);"
          class="menu-toggle waves-effect waves-block"
          [ngClass]="{ toggled: activeMenu == 'examples' }"
          (click)="openItem('examples')"
        >
          <i class="zmdi zmdi-assignment"></i>
          <span style="font-size: 20px;">Examples</span>
        </a>
        <ul class="ml-menu" [ngClass]="{ 'd-block': activeMenu == 'examples' }">
          <li>
            <a routerLink="/basicform" class="waves-effect waves-block">
              Basic Form
            </a>
          </li>
          <li>
            <a routerLink="/advancedform" class="waves-effect waves-block">
              Advanced Form
            </a>
          </li>
          <li>
            <a routerLink="/formexamples" class="waves-effect waves-block">
              Form Examples
            </a>
          </li>
          <li>
            <a routerLink="/formvalidation" class="waves-effect waves-block">
              Form Validation
            </a>
          </li>
          <li>
            <a routerLink="/formsummernote" class="waves-effect waves-block">
              Summernote
            </a>
          </li>
          <li>
            <a routerLink="/callapi" class="waves-effect waves-block">
              Call API
            </a>
          </li>
          <li>
            <a routerLink="/gridview" class="waves-effect waves-block">
              Gridview
            </a>
          </li>
        </ul>
      </li> -->
    </ul>
  </div>
</aside>
