<div class="dueDiligence">
  <div class="header">
    <div class="headerLeft">
      <span>Offset設定</span>
    </div>
    <button
      style="font-size: 20px; margin-left: 300px;"
      nz-button
      nzType="primary"
      (click)="update()"
    >
      <label style="position: relative; top: -4px;">
        儲存
      </label>
    </button>
  </div>
  <div class="detail"></div>
  <table style="width: 100%;">
    <tr>
      <td style="width: 12%; font-size: 22px;">
        1號冰水
        <br />
        出水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset1_1"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset1_1"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        1號冰水
        <br />
        入水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset1_2"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset1_2"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        1號冷卻水
        <br />
        出水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset1_3"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset1_3"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        1號冷卻水
        <br />
        入水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset1_4"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset1_4"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        2號冰水
        <br />
        出水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset2_1"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset2_1"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        2號冰水
        <br />
        入水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset2_2"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset2_2"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        2號冷卻水
        <br />
        出水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset2_3"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset2_3"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        2號冷卻水
        <br />
        入水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset2_4"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset2_4"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        3號冰水
        <br />
        出水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset3_1"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset3_1"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        3號冰水
        <br />
        入水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset3_2"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset3_2"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        3號冷卻水
        <br />
        出水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset3_3"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset3_3"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 12%; font-size: 22px;">
        3號冷卻水
        <br />
        入水
      </td>
      <td style="padding-left: 10px;">
        <div>
          <nz-row>
            <nz-col nzSpan="19">
              <nz-slider
                [nzMin]="-10"
                [nzMax]="10"
                [nzStep]="0.1"
                [(ngModel)]="offset3_4"
              ></nz-slider>
            </nz-col>
            <nz-col nzSpan="2">
              <input
                type="text"
                [ngStyle]="{
                  marginLeft: '16px',
                  'font-size': '20px',
                  width: '95px'
                }"
                inputmode="numeric"
                [(ngModel)]="offset3_4"
                placeholder="..."
                disabled="false"
              />
            </nz-col>
          </nz-row>
        </div>
      </td>
    </tr>
  </table>
  <div style="text-align: center;">
    <table style="width: 100%;"></table>
  </div>
</div>
