<div class="dueDiligence">
  <div class="header">
    <div class="headerLeft">
      <span>即時資訊顯示</span>
      <!-- <span nz-icon nzType="rollback" nzTheme="outline"></span> -->
      <button nz-button nzType="primary" (click)="clearSelected()">
        <span>
          <svg
            class="filter-white"
            width="13"
            height="12"
            viewBox="0 0 13 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.9999 6.00022C12.9999 6.19913 12.9209 6.38989 12.7802 6.53055C12.6396 6.6712 12.4488 6.75021 12.2499 6.75021H3.56038L6.78088 9.96921C6.85061 10.0389 6.90592 10.1217 6.94366 10.2128C6.9814 10.3039 7.00082 10.4016 7.00082 10.5002C7.00082 10.5988 6.9814 10.6965 6.94366 10.7876C6.90592 10.8787 6.85061 10.9615 6.78088 11.0312C6.71114 11.1009 6.62836 11.1563 6.53725 11.194C6.44614 11.2317 6.34849 11.2512 6.24988 11.2512C6.15126 11.2512 6.05361 11.2317 5.9625 11.194C5.87139 11.1563 5.78861 11.1009 5.71888 11.0312L1.21888 6.53122C1.14903 6.46155 1.09362 6.37878 1.05581 6.28766C1.018 6.19655 0.998535 6.09887 0.998535 6.00022C0.998535 5.90156 1.018 5.80388 1.05581 5.71276C1.09362 5.62165 1.14903 5.53888 1.21888 5.46921L5.71888 0.969215C5.85971 0.828385 6.05071 0.749268 6.24988 0.749268C6.44904 0.749268 6.64005 0.828385 6.78088 0.969215C6.92171 1.11005 7.00082 1.30105 7.00082 1.50022C7.00082 1.69938 6.92171 1.89039 6.78088 2.03122L3.56038 5.25022H12.2499C12.4488 5.25022 12.6396 5.32923 12.7802 5.46988C12.9209 5.61054 12.9999 5.8013 12.9999 6.00022Z"
              fill="#101010"
            />
          </svg>
          <label style="position: relative; left: 10px; top: -2px;">
            返回
          </label>
        </span>
      </button>

      <nz-select
        style="font-size: 20px; margin-left: 15px;"
        [(ngModel)]="machineNum"
        (ngModelChange)="changeMachineNum()"
      >
        <nz-option
          style="text-align: center;"
          nzValue="1"
          nzLabel="1號機"
        ></nz-option>
        <nz-option
          style="text-align: center;"
          nzValue="2"
          nzLabel="2號機"
        ></nz-option>
        <nz-option
          style="text-align: center;"
          nzValue="3"
          nzLabel="3號機"
        ></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="detail">
    <div
      (click)="selectDiv(1)"
      [hidden]="!(selectedDiv == '冰水出水' || selectedDiv == 'initial')"
      id="main"
      style="width: 50%; height: 400%;"
    ></div>
    <div
      (click)="selectDiv(2)"
      [hidden]="!(selectedDiv == '冰水入水' || selectedDiv == 'initial')"
      id="main2"
      style="width: 50%; height: 400%;"
    ></div>
    <div
      (click)="selectDiv(3)"
      [hidden]="!(selectedDiv == '冷卻水出水' || selectedDiv == 'initial')"
      id="main3"
      style="width: 50%; height: 400%;"
    ></div>
    <div
      (click)="selectDiv(4)"
      [hidden]="!(selectedDiv == '冷卻水入水' || selectedDiv == 'initial')"
      id="main4"
      style="width: 50%; height: 400%;"
    ></div>
  </div>
</div>
