<div class="dueDiligence">
  <div class="header">
    <div class="headerLeft">
      <span>參數設定</span>
      <!-- <span nz-icon nzType="rollback" nzTheme="outline"></span> -->
    </div>
  </div>
  <div class="detail"></div>

  <div style="text-align: center;">
    <table style="width: 100%;">
      <tr>
        <td style="width: 12%; font-size: 22px;">串口名稱</td>
        <td style="padding-left: 10px;">
          <div>
            <nz-select
              style="width: 100%; font-size: 20px;"
              [(ngModel)]="portNameValue"
            >
              <nz-option
                style="text-align: center;"
                *ngFor="let item of portName"
                nzValue="{{ item.code }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>
          </div>
        </td>
        <td colspan="2" rowspan="2">
          <button
            style="font-size: 20px;"
            nz-button
            nzType="primary"
            (click)="update()"
          >
            <label style="position: relative; top: -4px;">
              儲存
            </label>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">波特率</td>
        <td style="padding-left: 10px;">
          <div>
            <nz-select
              style="width: 100%; font-size: 20px;"
              ngModel="{{ baudRateValue }}"
              (ngModelChange)="baudRateChange($event)"
            >
              <nz-option
                style="text-align: center;"
                *ngFor="let item of baudRate"
                nzValue="{{ item.code }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">數據位</td>
        <td style="padding-left: 10px;">
          <div>
            <nz-select
              style="width: 100%; font-size: 20px;"
              ngModel="{{ dataBitsValue }}"
              (ngModelChange)="dataBitsChange($event)"
            >
              <nz-option
                style="text-align: center;"
                *ngFor="let item of dataBits"
                nzValue="{{ item.code }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">
          1號冰水
          <br />
          異常設定
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-row>
              <nz-col nzSpan="19">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [nzStep]="0.1"
                  [(ngModel)]="error_temp1"
                ></nz-slider>
              </nz-col>
              <nz-col nzSpan="2">
                <input
                  type="text"
                  [ngStyle]="{
                    marginLeft: '16px',
                    'font-size': '20px',
                    width: '95px'
                  }"
                  inputmode="numeric"
                  [(ngModel)]="error_temp1"
                  placeholder="..."
                  disabled="false"
                />
              </nz-col>
            </nz-row>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">停止位</td>
        <td style="padding-left: 10px;">
          <div>
            <nz-select
              style="width: 100%; font-size: 20px;"
              [(ngModel)]="stopBitsValue"
            >
              <nz-option
                style="text-align: center;"
                *ngFor="let item of stopBits"
                nzValue="{{ item.code }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">
          2號冰水
          <br />
          異常設定
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-row>
              <nz-col nzSpan="19">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [nzStep]="0.1"
                  [(ngModel)]="error_temp2"
                ></nz-slider>
              </nz-col>
              <nz-col nzSpan="2">
                <input
                  type="text"
                  [ngStyle]="{
                    marginLeft: '16px',
                    'font-size': '20px',
                    width: '95px'
                  }"
                  inputmode="numeric"
                  [(ngModel)]="error_temp2"
                  placeholder="..."
                  disabled="false"
                />
              </nz-col>
            </nz-row>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">校驗位</td>
        <td style="padding-left: 10px;">
          <div>
            <nz-select
              style="width: 100%; font-size: 20px;"
              [(ngModel)]="parityValue"
            >
              <nz-option
                style="text-align: center;"
                *ngFor="let item of parity"
                nzValue="{{ item.code }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">
          3號冰水
          <br />
          異常設定
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-row>
              <nz-col nzSpan="19">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [nzStep]="0.1"
                  [(ngModel)]="error_temp3"
                ></nz-slider>
              </nz-col>
              <nz-col nzSpan="2">
                <input
                  type="text"
                  [ngStyle]="{
                    marginLeft: '16px',
                    'font-size': '20px',
                    width: '95px'
                  }"
                  inputmode="numeric"
                  [(ngModel)]="error_temp3"
                  placeholder="..."
                  disabled="false"
                />
              </nz-col>
            </nz-row>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">
          1號觸發
          <br />
          繼電器°C
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-row>
              <nz-col nzSpan="17">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [nzStep]="0.1"
                  [(ngModel)]="threshhold_temp_setting1"
                ></nz-slider>
              </nz-col>
              <nz-col nzSpan="2">
                <input
                  type="text"
                  [ngStyle]="{
                    marginLeft: '16px',
                    'font-size': '20px',
                    width: '95px'
                  }"
                  inputmode="numeric"
                  [(ngModel)]="threshhold_temp_setting1"
                  placeholder="..."
                  disabled="false"
                />
              </nz-col>
            </nz-row>
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">
          計時器
          <br />
          (分鐘)
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-select
              style="width: 100%; font-size: 20px;"
              ngModel="{{ timerValue }}"
              (ngModelChange)="timerChange($event)"
            >
              <nz-option
                style="text-align: center;"
                *ngFor="let item of timer"
                nzValue="{{ item.code }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">
          2號觸發
          <br />
          繼電器°C
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-row>
              <nz-col nzSpan="17">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [nzStep]="0.1"
                  [(ngModel)]="threshhold_temp_setting2"
                ></nz-slider>
              </nz-col>
              <nz-col nzSpan="2">
                <input
                  type="text"
                  [ngStyle]="{
                    marginLeft: '16px',
                    'font-size': '20px',
                    width: '95px'
                  }"
                  inputmode="numeric"
                  [(ngModel)]="threshhold_temp_setting2"
                  placeholder="..."
                  disabled="false"
                />
              </nz-col>
            </nz-row>
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">
          1號冷卻水
          <br />
          異常設定
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-row>
              <nz-col nzSpan="19">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [nzStep]="0.1"
                  [(ngModel)]="error_down1"
                ></nz-slider>
              </nz-col>
              <nz-col nzSpan="2">
                <input
                  type="text"
                  [ngStyle]="{
                    marginLeft: '16px',
                    'font-size': '20px',
                    width: '95px'
                  }"
                  inputmode="numeric"
                  [(ngModel)]="error_down1"
                  placeholder="..."
                  disabled="false"
                />
              </nz-col>
            </nz-row>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">
          3號觸發
          <br />
          繼電器°C
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-row>
              <nz-col nzSpan="17">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [nzStep]="0.1"
                  [(ngModel)]="threshhold_temp_setting3"
                ></nz-slider>
              </nz-col>
              <nz-col nzSpan="2">
                <input
                  type="text"
                  [ngStyle]="{
                    marginLeft: '16px',
                    'font-size': '20px',
                    width: '95px'
                  }"
                  inputmode="numeric"
                  [(ngModel)]="threshhold_temp_setting3"
                  placeholder="..."
                  disabled="false"
                />
              </nz-col>
            </nz-row>
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">
          2號冷卻水
          <br />
          異常設定
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-row>
              <nz-col nzSpan="19">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [nzStep]="0.1"
                  [(ngModel)]="error_down2"
                ></nz-slider>
              </nz-col>
              <nz-col nzSpan="2">
                <input
                  type="text"
                  [ngStyle]="{
                    marginLeft: '16px',
                    'font-size': '20px',
                    width: '95px'
                  }"
                  inputmode="numeric"
                  [(ngModel)]="error_down2"
                  placeholder="..."
                  disabled="false"
                />
              </nz-col>
            </nz-row>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">啟用3號感測模組</td>
        <td style="padding-left: 10px;">
          <div>
            <nz-select
              style="width: 100%; font-size: 20px;"
              [(ngModel)]="ThirdSensor"
            >
              <nz-option
                style="text-align: center;"
                *ngFor="let item of enableThirdSensor"
                nzValue="{{ item.code }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">
          3號冷卻水
          <br />
          異常設定
        </td>
        <td style="padding-left: 10px;">
          <div>
            <nz-row>
              <nz-col nzSpan="19">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [nzStep]="0.1"
                  [(ngModel)]="error_down3"
                ></nz-slider>
              </nz-col>
              <nz-col nzSpan="2">
                <input
                  type="text"
                  [ngStyle]="{
                    marginLeft: '16px',
                    'font-size': '20px',
                    width: '95px'
                  }"
                  inputmode="numeric"
                  [(ngModel)]="error_down3"
                  placeholder="..."
                  disabled="false"
                />
              </nz-col>
            </nz-row>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">USB路徑</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              (input)="onInputChange($event)"
              class="input"
              value="{{ usb_dir_location }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickUsb_dir_location()"
            />
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">1號繼電器開啟</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ gate1_open }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickGate1_open()"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">
          1號冰水
          <br />
          入水
        </td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cold_input1 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCold_input1()"
            />
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">1號繼電器關閉</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ gate1_close }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickGate1_close()"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">
          1號冰水
          <br />
          出水
        </td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cold_output1 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCold_output1()"
            />
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">2號繼電器開啟</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ gate2_open }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickGate2_open()"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">1號冷卻水入水</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cool_down_input1 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCool_down_input1()"
            />
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">2號繼電器關閉</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ gate2_close }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickGate2_close()"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">1號冷卻水出水</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cool_down_output1 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCool_down_output1()"
            />
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">3號繼電器開啟</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ gate3_open }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickGate3_open()"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">
          2號冰水
          <br />
          入水
        </td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cold_input2 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCold_input2()"
            />
          </div>
        </td>
        <td style="width: 12%; font-size: 22px;">3號繼電器關閉</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ gate3_close }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickGate3_close()"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">
          2號冰水
          <br />
          出水
        </td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cold_output2 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCold_output2()"
            />
          </div>
        </td>

        <td colspan="2" rowspan="13">
          <div class="simple-keyboard"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">2號冷卻水入水</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cool_down_input2 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCool_down_input2()"
            />
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">2號冷卻水出水</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cool_down_output2 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCool_down_output2()"
            />
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">
          3號冰水
          <br />
          入水
        </td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cold_input3 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCold_input3()"
            />
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">
          3號冰水
          <br />
          出水
        </td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cold_output3 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCold_output3()"
            />
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">3號冷卻水入水</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cool_down_input3 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCool_down_input3()"
            />
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style="width: 12%; font-size: 22px;">3號冷卻水出水</td>
        <td style="padding-left: 10px;">
          <div>
            <input
              style="text-transform: uppercase;"
              (input)="onInputChange($event)"
              class="input"
              value="{{ cool_down_output3 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickCool_down_output3()"
            />
          </div>
        </td>
        <td></td>
      </tr>
      <tr></tr>
      <tr></tr>

      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
  </div>
</div>
