<div class="dueDiligence">
  <div class="header">
    <div class="headerLeft">
      <span style="font-size: 36px;">月彙總表</span>
    </div>
    <nz-select
      style="font-size: 20px; margin-left: 5px; border-color: blue;"
      [(ngModel)]="machineNum"
      (ngModelChange)="changeMachineNum()"
    >
      <nz-option
        style="text-align: center;"
        nzValue="1"
        nzLabel="1號機"
      ></nz-option>
      <nz-option
        style="text-align: center;"
        nzValue="2"
        nzLabel="2號機"
      ></nz-option>
      <nz-option
        style="text-align: center;"
        nzValue="3"
        nzLabel="3號機"
      ></nz-option>
    </nz-select>
    <nz-range-picker
      style="margin-left: 15px;"
      [nzPlaceHolder]="placeHolder"
      nzMode="month"
      [(ngModel)]="date"
    ></nz-range-picker>
    <button
      style="margin-left: 15px;"
      nz-button
      nzType="primary"
      (click)="search()"
    >
      <svg
        style="margin: 2px 8px 4px 0px;"
        viewBox="64 64 896 896"
        focusable="false"
        fill="currentColor"
        width="1em"
        height="1em"
        data-icon="search"
        aria-hidden="true"
      >
        <path
          d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0011.6 0l43.6-43.5a8.2 8.2 0 000-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"
        ></path>
      </svg>
      查詢
    </button>
    <button
      style="margin-left: 15px;"
      nz-button
      nzType="primary"
      (click)="download()"
    >
      <svg
        style="margin: 2px 8px 4px 0px;"
        viewBox="64 64 896 896"
        focusable="false"
        fill="currentColor"
        width="1em"
        height="1em"
        data-icon="download"
        aria-hidden="true"
      >
        <path
          d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z"
        ></path>
      </svg>
      下載
    </button>
  </div>

  <div class="detail"></div>
  <nz-table style="margin-top: 20px;" #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th nzWidth="60px">狀態</th>
        <th>時間</th>
        <th>冰水出水</th>
        <th>冰水入水</th>
        <th>冰水溫差</th>
        <th>冷卻水出水</th>
        <th>冷卻水入水</th>
        <th>冷卻水溫差</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          <div
            *ngIf="
              machineNum == '1'
                ? data.cool_output <= error_temp1
                : machineNum == '2'
                ? data.cool_output <= error_temp2
                : machineNum == '3'
                ? data.cool_output <= error_temp3
                : false
            "
          >
            <svg
              width="20px"
              height="20px"
              viewBox="0 0 128 128"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              class="iconify iconify--noto"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="63.93" cy="64" r="60" fill="#689f38"></circle>
              <circle cx="60.03" cy="63.1" r="56.1" fill="#7cb342"></circle>
              <path
                d="M23.93 29.7c4.5-7.1 14.1-13 24.1-14.8c2.5-.4 5-.6 7.1.2c1.6.6 2.9 2.1 2 3.8c-.7 1.4-2.6 2-4.1 2.5a44.64 44.64 0 0 0-23 17.4c-2 3-5 11.3-8.7 9.2c-3.9-2.3-3.1-9.5 2.6-18.3z"
                fill="#aed581"
              ></path>
            </svg>
          </div>
          <div
            *ngIf="
              machineNum == '1'
                ? data.cool_output > error_temp1
                : machineNum == '2'
                ? data.cool_output > error_temp2
                : machineNum == '3'
                ? data.cool_output > error_temp3
                : false
            "
          >
            <svg
              width="20px"
              height="20px"
              viewBox="0 0 128 128"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              class="iconify iconify--noto"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="63.93" cy="64" r="60" fill="#c33"></circle>
              <circle cx="60.03" cy="63.1" r="56.1" fill="#f44336"></circle>
              <path
                d="M23.93 29.7c4.5-7.1 14.1-13 24.1-14.8c2.5-.4 5-.6 7.1.2c1.6.6 2.9 2.1 2 3.8c-.7 1.4-2.6 2-4.1 2.5a44.64 44.64 0 0 0-23 17.4c-2 3-5 11.3-8.7 9.2c-3.9-2.3-3.1-9.5 2.6-18.3z"
                fill="#ff8a80"
              ></path>
            </svg>
          </div>
        </td>
        <td>{{ data.upd_time }}</td>
        <td>{{ data.cool_output }}</td>
        <td>{{ data.cool_input }}</td>
        <td>{{ data.cool_temp_diff }}</td>
        <td>{{ data.cool_down_output }}</td>
        <td>{{ data.cool_down_input }}</td>
        <td>{{ data.cool_down_temp_diff }}</td>
      </tr>
    </tbody>
  </nz-table>
  <div style="text-align: center;"></div>
</div>
